body{
  background-image: url("https://i.ytimg.com/vi/K8GmeRB25lI/maxresdefault.jpg");

}
h1{
  text-shadow: #555555 ;
  text-align: center;
  font-size: 70px;

}
.sp{
  width: 200px;
  height: 200px;
  background-color: #555555;
  border: black 1px ridge;


}
.sp:hover{
 /*background-color: darkslategray;*/
 /* font-size: 100px;*/
 /* text-align: center;*/

}


.board{
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 400px;

}

.board{

}

