<!DOCTYPE html>

{% extends  'am@@n&cile♦♥.html' %}
    {% block tv_show %}

  <div class="video">
    <video width="800" height="500" controls>
    <source src="{{url_for('static', filename='video/skydive.mp4')}}" type="video/mp4">
    </video>
    <br>
    <button type="button" class="btn btn-primary btn-rounded">session</button>
    <br>
    <br>
    <br>
      <ul>

    <li> <button id="ep" type="button" class="btn btn-info btn-rounded">episode 1</button> </li>

      </ul>
      </div>
    {% endblock %}
